<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
   http://www.springframework.org/schema/aop 
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

	<aop:config>
		<aop:aspect id="log" ref="logging">
			<aop:pointcut id="selectAll" expression="execution(* xml.based.aop.*.*(..))" />

			<aop:before pointcut-ref="selectAll" method="beforeAdvice" />

			<aop:after-returning pointcut-ref="selectAll"
				returning="value" method="afterReturningValueAdvice" />

			<aop:after-throwing pointcut-ref="selectAll"
				throwing="ex" method="afterThrowingAdvice" />

		</aop:aspect>
	</aop:config>



<aop:config>
	<aop:aspect id=auditer ref>
	
	
	
	
	</aop:aspect>
</aop:config>

		<bean id=> </bean>

	<bean id="transaction" class="xml.based.aop.Transaction">
		<property name="id" value="1" />
		<property name="description" value="SALES" />
	</bean>

	<!-- Definition for logging aspect -->
	<bean id="logging" class="xml.based.aop.Logging" />

</beans>